-
    const progressSlider = [
        {
            icon: 'flag',
            title: 'Произведено в России',
        },
        {
            icon: 'clip',
            title: '10 лет гарантии',
        },
        {
            icon: 'exp',
            title: '10 лет опыта',
        },
    ];


section.section.section_light.swiper-slide(id="progress" class=`section_progress` data-theme="light")
    .section__wrapper
        .section__row.section__row_fullheight
            .section__col.section__col_left
                .card.card_left.card_top_17
                    .card__inner.swiper-lazy(data-background="./img/card-img-6.jpg")
                        .card__title andruban — мебель  иных реальностей
                        .card__wrapper.swiper-container.card-slider(id="make-card-slider2")
                            ul.swiper-wrapper.card-slider__swiper
                                each val, index in progressSlider
                                    li.swiper-slide
                                        svg(class=`card-slider__icon` viewBox=val.viewbox width=val.width)
                                            use(xlink:href=`./img/sprites/sprite.svg#progress-${val.icon}`)
                                        h3.h3.card-slider__title= val.title
                            .card-slider__control
                                button.card-slider__arrow.card-slider__arrow_next
                                    +icon('arrow-right', 'arrow-h')
            .section__col.section__col_right.section__col_flex
                .section__row
                    .section__description
                        p.p.p_font_light Процесс заказа отлажен, всё сделано для вашего удобства. Наш опыт позволяет нам оперативно работать на каждом этапе, гарантируя сроки производства и надлежащее качество нашей мебели.
                    .title.title_card.section__title
                        h2.h2 Наши достижения
                        h5.h5 44 выполненных проекта
                .section__col-inner
                    ul.section__row.list.section__list
                        li.h5.list__item <span class="list__num">32</span>кухни
                        li.h5.list__item <span class="list__num">10</span>гардеробных
                        li.h5.list__item <span class="list__num">15</span>гостинных
                        li.h5.list__item <span class="list__num">14</span>детских
                        li.h5.list__item <span class="list__num">18</span>прихожих
                        li.h5.list__item <span class="list__num">22</span>спальни
                    p.p.p_font_light Состоим в членстве Британской Высшей школы дизайна
                    p.p
                        svg(viewBox="0 0 129 50" width="128")
                            use(xlink:href='./img/sprites/sprite.svg#design-school')
                    p.p.p_font_light 4 года подряд получали награду за лучшее качество обслуживания клиентов сообществом Houzz
                    p.p.section__bests
                        a(class="section__best" target="_blank" href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/and-ruban-pfvwus-pf~344163869?")
                            svg(viewBox="0 0 70 70" class="houzz")
                                use(xlink:href='./img/sprites/sprite.svg#houzz-logo_2017')
                        a(class="section__best" target="_blank" href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/and-ruban-pfvwus-pf~344163869?")
                            svg(viewBox="0 0 70 70" class="houzz")
                                use(xlink:href='./img/sprites/sprite.svg#houzz-logo_2018')
                        a(class="section__best" target="_blank" href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/and-ruban-pfvwus-pf~344163869?")
                            svg(viewBox="0 0 70 70" class="houzz")
                                use(xlink:href='./img/sprites/sprite.svg#houzz-logo_2019')
                        a(class="section__best" target="_blank" href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/and-ruban-pfvwus-pf~344163869?")
                            svg(viewBox="0 0 70 70" class="houzz")
                                use(xlink:href='./img/sprites/sprite.svg#houzz-logo_2020')
                    .section__logo-row
                        a.section__logo-wrapper.houzz(target="_blank" href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/and-ruban-pfvwus-pf~344163869?")
                            svg(viewBox="0 0 170 39" width="170")
                                use(xlink:href='./img/sprites/sprite.svg#houzz_logo')
                        .section__logo-button
                            a.btn.btn_large.btn_primary.btn_wide.h6(href="https://www.houzz.ru/hznb/professionaly/mebely-i-aksessuary/and-ruban-pfvwus-pf~344163869?" target="_blank") отзывы о нас на houzz.ru
