// COLORS
$primary: #870AB7;
$secondary: #212121;
$light: #fff;
$dark: #000;
$gray: #C4C4C4;

// FONT SIZES
$h1: 132;
$h2: 74;
$h3: 32;
$h4: 26;
$h5: 22;
$h6: 18;
$small: 12;

// PATHS
$sprite: '../img/sprites/sprite.svg#';

// ANIMATION
$duration: .3s;

// OFFSETS
$marginCard: 70;
