mixin dropdown(ar)
    .dropdown
        .dropdown__title.label-box__input
            p.dropdown__title-p.label-box__label(data-title="Надпись")
        .dropdown__content
            ul.dropdown__list
                each item in ar
                    li.dropdown__item
                        a.dropdown__link= item