include ../label/label
mixin dropdown(dropdownClass, heading, ar, itemClass, linkClass, labelClass)
    .dropdown(class= dropdownClass)
        .dropdown__heading
            +label('dropdown__label-box', 'dropdown__label', 'Выберите вид мебели', 'dropdown__input', 'text')
            +icon('chevron-down', 'dropdown__svg')
        ul.dropdown__list(class= payment ? 'payment__dropdown-list' : '')
            each item in ar
                li.dropdown__item(class= itemClass)
                    a.dropdown__link(class=linkClass, data-title= num)= item
