mixin dropdown(ar)
    select#dropdown
        option(value="Кухни") Кухни
        option(value="гардеробные") гардеробные
        option(value="гостинные") гостинные
        option(value="детские") детские
        option(value="прихожие") прихожие
        option(value="спальни") спальни
        option(value="шкафы") шкафы