.section {

    &_bottom {
        display: flex;
        align-items: flex-end;
    }
    &__col {
        @include col();

        &_left {
            @include size(5);
        }
        &_right {
            @include size(7);
        }
        &_flex {
            display: flex;
            flex-direction: column;
        }
        &_center {
            display: flex;
            align-items: center;
        }
    }
    &__wrapper {
        @include container();
        box-sizing: border-box;
        position: relative;
        z-index: 4;
        width: 100%;
        height: 100%;
        max-height: rem(1080);

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .section_bottom & {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
    &__row {
        @include row-flex();

        .section_column & {
            flex-direction: column;
        }
        &_fullheight {
            height: 100%;
        }
        &_column {
            flex-direction: column;
        }
    }
    &__description {
        @include col();
        @include shift-left(1);
        @include size(5);
        margin-bottom: rem(45);
        transition: {
            property: color;
            duration: $duration;
        };
    }
    &__description-title {
        margin-bottom: rem(15);
    }
    &__title {
        margin-bottom: rem(50);
        transition: {
            property: color;
            duration: $duration;
        };
    }
    &__btn {
        @include col();
        @include size(4);
    }
    &__bg-wrapper {
        position: absolute;
        width: 100%;
        height: 78%;

        &_top {
            top: 0;
        }
        &_bottom {
            bottom: 0;
        }
    }
    &__bg-inner {
        position: relative;
        height: 100%;
    }
    &__bg {
        display: block;
        position: relative;
        width: 65%;
        height: 100%;
        overflow: hidden;
        will-change: filter;
        &:after {
            transition: {
                property: background-color;
                duration: $duration;
            };
        }
        transition: {
            property: filter;
            duration: $duration;
        };

        &_grayscale {
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
        &_right {
            margin-left: auto;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bg-garant {
        @include container();
        display: flex;
        justify-content: flex-end;
        position: absolute;
        z-index: 1;
        bottom: rem(65);
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        pointer-events: none;
    }
    &_bg {
        &_colored {
            .top-slider {
                color: $light;

                .swiper-slide {
                    &:after {
                        background-color: rgba($color: $secondary, $alpha: .75);
                    }

                    &-thumb-active {
                        filter: grayscale(0);
                        &:after {
                            background-color: transparent;
                        }
                    }
                }
                &__btn {
                    color: $light;
                    &:hover {
                        .btn__icon {
                            background-color: $light;
                            stroke: $secondary;
                        }
                    }

                    .btn__icon {
                        border-color: $light;
                        stroke: $light;
                    }
                }
                &__arrow {
                    &_prev, &_next {
                        svg {
                            stroke: $light;
                        }
                    }
                }
            }
            .section__bg-inner > .section__bg, .swiper-slide-active .section__bg {
                filter: grayscale(0);
            }
            .section__bg {
                &:after {
                    background-color: rgba($color: $secondary, $alpha: .75);
                }
            }
        }
    }
    &_header {
        .section__title {
            @include col();
            @include size(9);
        }
    }
    &_create {
        .section__title {
            margin-top: rem(60);
            margin-bottom: rem(70);
        }
    }
    &_producers {
        .section__title {
            @include col();
            @include size(6);
            margin-bottom: rem(30);
        }
        .section__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .section__description {
            @include size(6);
        }
    }
    &_make {
        .section__description {
            @include size(12);
            @include shift-left(2);
        }
        .section__title {
            @include col();
            @include size(12);

            .h2 {
                margin-right: rem(-30);
            }
        }
        .section__tabs {
            margin: {
                right: rem(-5);
                left: rem(-5);
            }
        }
        &.section_bg_colored {
            .section__col_right {
                color: $light;
            }
            .btn__icon {
                fill: $light;
            }
        }
    }
    &_video {
        .section__title {
            @include col();
        }
        .section__col {
            @include shift-left(3);
            @include size(6);
        }
        .section__description {
            @include shift-left(2);
            @include shift-right(2);
            width: auto;

            .btn {
                margin-top: rem(50);
            }
        }
    }
    &_progress {
        .section__description {
            @include shift-left(-2);
            @include size(10);
            position: relative;
        }
        .card__inner {
            align-items: flex-end;
            padding-bottom: rem(120);
        }
        .section__list {
            margin-bottom: rem(20);
        }
        .section__col-inner {
            @include shift-left(1.5);
        }
        .section__col_right {
            margin-top: rem(70);
        }
    }
    &__bests {
        @include row-flex();
        margin-bottom: rem(40);
    }
    &__best {
        @include col();
        width: rem(70);
    }
    &__ticker {
        width: 100%;
    }
    &_light {
        color: $secondary;
        background-color: $light;

        svg {
            fill: $secondary;
        }
    }
    &_dark {
        color: $light;
        background-color: $secondary;

        svg {
            fill: $light;
        }
    }
    &__logos {
        display: flex;
        justify-content: space-between;
        width: 100%;
        svg {
            @include col();
            // @include size(3);
            height: rem(30);
            margin: {
                top: rem(20);
                bottom: rem(20);
            };
        }
    }
    &__logo-row {
        @include row-flex();
        align-items: center;
    }
    &__logo-wrapper {
        @include col();
    }
    &__logo-button {
        @include col();
        flex-grow: 1;
    }
}
