.logo {
    display: inline-block;

    svg {
        height: rem(49);

        @media (max-width: $break_md) {
            height: rem(35);
        }
        @media (max-width: $break_sm) {
            height: rem(22);
        }
    }
    &_theme {
        &_light {
            color: $light;

            svg {
                fill: $light;
            }
        }
        &_dark {
            color: $dark;
            svg {
                fill: $dark;
            }
        }
        &_modal {
            @include col();
            @include size(3);
            @include shift-right(9);
            color: $primary;

            svg {
                max-width: rem(201);
                max-height: rem(54);
            }
        }
    }
}
