mixin logo(theme, location = false)
    a.logo(class=`logo_theme_${theme}` href="#")
        if location === 'modal'
            svg(viewBox="0 0 202 54")
                use(xlink:href='./img/sprites/sprite.svg#logo-modal')
        else if location ==='header' || location === 'footer'
            svg(viewBox="0 0 229 49")
                use(xlink:href='./img/sprites/sprite.svg#logo')
