.logo {

    text-transform: uppercase;
    &__title {
        letter-spacing: 0.1em;
    }
    &__subtitle {
        font-size: rem(10);
        letter-spacing: 0.34em;
    }
    &__dot {
        display: inline-block;
        width: rem(10);
        font-family: sans-serif;
    }
    &_theme {
        &_light {
            color: $light;
        }
        &_dark {
            color: $dark;
        }
        &_modal {
            @include col();
            @include size-xl(3);
            @include shift-xl-right(9);
            color: $primary;
        }
    }
}
