mixin navigation()
    nav.navigation
        ul.navigation__list
            li.navigation__list-item
                a.h2.navigation__list-link(href="") Проекты
            li.navigation__list-item
                a.h2.navigation__list-link(href="") Достижения
            li.navigation__list-item
                a.h2.navigation__list-link(href="") AndRuban
        a.h2.navigation__link(href="#") Оставить<br>заявку