.navigation {
    @include col();
    @include size(6);
    @media (max-height: $vertical_xl), (max-width: $break_xl) {
        margin-top: rem(100);
    }
    @media (max-height: $vertical_md), (max-width: $break_md) {
        margin-top: rem(50);
    }
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: {
        property: display, visibility, opacity;
        delay: 3s, s, s;
        duration: 4s, .3s, .3s;
        timing-function: linear;
    }
    &__list {
        &-item {
            @include md(margin-bottom, rem(35));
            display: inline-block;
            margin: {
                bottom: rem(50);
            };
        }
        &-link {
            color: $light;
        }
    }
    &__link {
        @include md(margin-top, rem(15));
        color: $primary;
        display: inline-block;
        margin: {
            top: rem(63);
        };
    }
    margin: {
        top: rem(183);
    };
}
