.navigation {
    @include col();
    @include size-xl(6);
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: {
        property: display, visibility, opacity;
        delay: 3s, s, s;
        duration: 4s, .3s, .3s;
        timing-function: linear;
    }
    &__list {
        &-item {
            display: inline-block;
            margin: {
                bottom: rem(50);
            };
        }
        &-link {
            color: $light;
        }
    }
    &__link {
        color: $primary;
        display: inline-block;
        margin: {
            top: rem(63);
        };
    }
    margin: {
        top: rem(183);
    };
}