section.section.section_dark.swiper-slide.section_bottom(class="section_video")
    .section__wrapper
        .section__row.section__row_fullheight
            .section__col.section__col_right 123
    .section__bg-wrapper.section__bg-wrapper_bottom
        .section__bg-inner
            picture.section__bg.section__bg_grayscale.section__bg_left.section__bg_top.dark-mask
                source(srcset=`./img/video-block.webp`)
                img(src=`./img/video-block.jpg` alt="")
