section.section.section_dark.swiper-slide.section_bottom(id="video" class="section_video" data-theme="dark")
    .section__wrapper
        .section__row.section__row_fullheight
            .section__col.section__col_center
                .section__row
                    .title.section__title
                        h2.h2 Raumlus and Ruban
                    .section__description
                        p.p.p_font_light AND.RUBAN — это изготовление мебели иных реальностей с ипользованием передовых технологий и качественной фурнитуры.
                        button.btn.btn_transparent_primary.btn_play.btn_play_light
                            +icon('play-animate', 'btn__icon')
                            span.btn__title.h5.h5_light Мой ролик №1 с <br>Раумплюс на <br>Youtube
    .section__bg-wrapper.section__bg-wrapper_bottom
        .section__bg-inner
            picture.section__bg.section__bg_grayscale.section__bg_left.section__bg_top.dark-mask
                source(srcset=`./img/video-block.webp` type="image/webp")
                img(src=`./img/video-block.jpg` alt="")
