.fullpage {
    &_theme {
        &_light {
            .fullpage__pagination .swiper-pagination-bullet {
                background-color: $light;

                &-active {
                    background-color: $primary;
                }
            }
        }
    }

    &__control {
        @include containerFull();
        position: fixed;
        z-index: 999;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        pointer-events: none;
        transition: {
            property: visibility, opacity;
            duration: $duration;
        }
    }
    &__control-inner {
        @include xxl(right, rem(-50));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: rem(-100);
        transform: translateY(-50%);
        pointer-events: all;
    }
    &__navigation {
        z-index: 999;
        color: $primary;
    }
    &__arrow {
        display: block;
        padding: rem(7) rem(10);
        stroke: $dark;

        .fullpage_theme_light & {
            stroke: $light;
        }

        &_down {
            stroke: $primary;
        }
    }

    &__pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(180);
        counter-reset: fullpage;

        .swiper-pagination-bullet {
            position: relative;
            width: rem(2);
            height: rem(30);
            background-color: $secondary;
            border-radius: 0;
            outline: none;
            opacity: 1;
            transition: {
                property: background-color;
                duration: $duration;
            }

            &:after {
                content: "0" counter(fullpage);
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(#{rem(0)}, -50%);
                counter-increment: fullpage;
                color: $light;
                font-weight: 30;
                opacity: 0;
                transition: {
                    property: color, opacity, transform;
                    duration: $duration;
                }
            }
            transition: {
                property: background-color;
                duration: $duration;
            }
            &-active, &:hover {
                background-color: $primary;
                &:after {
                    transform: translate(#{rem(15)}, -50%);
                    color: $primary;
                    opacity: 1;
                }
            }
        }
    }
    &_disabled {
        .fullpage__control {
            display: none;
        }
    }
}
