include ../footer/footer
section.section.section_dark.swiper-slide(id="feedback" class=`section_feedback` data-theme="dark")
    .section__wrapper
        .section__row.section__row_fullheight
            .section__col.section__col_right.section__col_flex
                .title.section__title
                    h2.h2 Мастерская реальностей
                .section__history
                    .section__description
                        p.p.p_font_light Оставляйте свои контакты и мы свяжемся с вами в ближайшее время. Пожалуйста, напишите в сообщении какая мебель вас интересует. Или звоните, пишите мне лично.
                        p.p.links
                            a.links__item.h6(href="tel:+79035874577") 8 (903) 587 45 77
                            a.links__item.h6.link(href="mailto:info@andruban.ru") info@andruban.ru
                        p.p.p_font_light Москва, ул.Планерная 5, офис 101
                    form.section__form-row.form-js
                        +label('request__label-box section__form-col', 'request__label', 'Имя', 'request__input', 'name')
                        +label('request__label-box section__form-col', 'request__label', 'Телефон', 'request__input', 'tel')
                        button.section__form-btn.btn.btn_large.btn_primary.btn_wide.h6(type="submit") Отправить заявку
    .section__bg-wrapper.section__bg-wrapper_bottom
        .section__bg-inner.swiper-wrapper
            picture.section__bg.section__bg_grayscale.section__bg_left.section__bg_top.dark-mask
                source(srcset=`./img/section-feedback.webp` type="image/webp")
                img(src=`./img/section-feedback.jpg` alt="")
    +footer('light', true)
