.btn {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    @include xxl(font-size, rem(15));
    @include sm(font-size, rem(14));
    border: {
        width: rem(1);
        style: solid;
    }

    transition: {
        property: color, background-color, border-color, transform;
        duration: $duration;
    }

    &_wide {
        width: 100%;
    }

    &_primary {
        color: $light;
        background-color: $primary;
        border-color: $primary;

        &:hover {
            color: $primary;
            background-color: transparent;
        }
    }

    &_transparent {
        &_primary {
            color: $primary;

            &:hover {
                .btn__icon {
                    background-color: $primary;
                    stroke: $light;
                }
            }

            .btn__icon {
                border-color: $primary;
                stroke: $primary;
            }
        }

        &_light {
            color: $light;

            &:hover {
                .btn__icon {
                    background-color: $light;
                    stroke: $dark;
                }
            }

            .btn__icon {
                border-color: $light;
                stroke: $light;
            }
        }
    }

    &_small {
        padding: rem(6) rem(16);
    }

    &_large {
        @include xxl(padding, rem(15));
        @include sm(padding, rem(15));
        @include sm(font-size, rem(14));
        padding: rem(23) rem(20);
        text-transform: uppercase;
        font-weight: 300;
    }

    &_rect {
        display: flex;
        align-items: center;
        text-align: left;
        border: 0;
        background-color: transparent;

        .btn__icon {
            width: rem(70);
            height: rem(70);
            padding: rem(18);
            margin-right: rem(20);
            border: {
                width: rem(1);
                style: solid;
            }
            transition: {
                property: border-color, stroke, background-color;
                duration: $duration;
            };
            @media (max-width: $break_sm) {
                width: rem(50);
                height: rem(50);
                padding: rem(12);
                margin-right: rem(10);
            }
        }
    }

    &_play {
        display: flex;
        align-items: center;
        text-align: left;
        color: inherit;
        border: 0;
        background-color: transparent;
        use {
            stroke-dashoffset: 1000;
            stroke-dasharray: 1000;
            transition: stroke-dasharray 1s ease-out;
        }

        .btn__icon {
            width: rem(70);
            height: rem(70);
            margin-right: rem(20);
            background-color: transparent;
            stroke: none;
            border: none;

            transition: {
                property: stroke, fill;
                duration: $duration;
            };

            @media (max-width: $break_md) {
                width: rem(50);
                height: rem(50);
                margin-right: rem(10);
            }
        }

        &:hover .btn__icon {
            background-color: transparent;
            stroke: transparent;
        }

        &_light {
            &:hover {
                color: $primary;

                .btn__icon {
                    fill: $light;
                    color: $light;
                }
                use {
                    stroke-dashoffset: 1000;
                    stroke-dasharray: 1227;
                    transition: stroke-dasharray .3s linear ease-in;
                }
            }

            .btn__icon {
                fill: $light;
            }
        }

        &_dark {
            &:hover {
                color: $primary;

                .btn__icon {
                    fill: $secondary;
                    color: $secondary;

                    .section_bg_colored & {
                        fill: $light;
                        color: $light;
                    }
                }
                use {
                    stroke-dashoffset: 1000;
                    stroke-dasharray: 1227;
                    transition: stroke-dasharray .3s linear ease-in;
                }
            }

            .btn__icon {
                fill: $secondary;
            }
        }
        .btn__title {
            @include md(font-size, rem(16));
            @include sm(font-size, rem(14));
        }
    }

    &_uppercase {
        text-transform: uppercase;
    }
}
