.hamburger {
    @include xxl(right, calc(100% + #{rem(40)}));
    display: inline-block;
    position: absolute;
    z-index: 2051;
    top: rem(140);
    right: calc(100% + #{rem(90)});
    width: rem(30);
    height: rem(30);
    cursor: pointer;
    pointer-events: all;

    &__inner {
        display: inline-block;
        width: rem(30);
        height: rem(2);
        background-color: $primary;
        border-radius: rem(6);
        transition: {
            duration: .2s;
            property: transform;
            timing-function: linear;
        }

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: rem(15);
            height: rem(2);

            transform: translate3d(0, rem(6), 0);
            transition: all .3s ease-in;
            background-color: $light;
            border-radius: rem(6);
            opacity: 1;
        }
    }

    &_active {

        .hamburger__inner {
            transform: rotate(45deg);
            background-color: $primary;

            &:before {
                width: rem(30);
                transform: rotate(90deg);
                background-color: $light;

                transition: {
                    delay: .1s;
                    duration: .2s;
                    property: all;
                    timing-function: linear;
                }
            }

            transition: {
                duration: .2s;
                property: transform;
                timing-function: linear;
            }
        }
    }

    &__box {
        position: fixed;
        z-index: 11230000;
        top: 0;
        left: 0;
        background-color: $light;
    }

    &__text {
        position: relative;
        margin-bottom: rem(8);
        line-height: 0;

        &:after {
            content: 'Меню';
        }
    }
}

.overlay {
    position: absolute;

    z-index: 2000;
    top: rem(140);
    left: 6rem;
    width: 0%;
    height: 0%;
    transition: all .3s ease-in;
    background-color: #212121;

    &_active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease-out;
    }
    &_original {
        position: absolute;
        z-index: 500;
    }
}
