extends layouts/default
include ../blocks/components/label/label

block variables
	- const title = "And Ruban"
	-
		let sec = 1;
block content
	include ../blocks/modules/header/header
	include ../blocks/modules/section-create/section-create
	include ../blocks/modules/section-producers/section-producers
	include ../blocks/modules/section-make/section-make
	include ../blocks/modules/section-video/section-video
	include ../blocks/modules/section-progress/section-progress
	include ../blocks/modules/section-and-ruban/section-and-ruban
	section.section.section_light.swiper-slide.section_bottom(class="section_make" style="background-color: black")
		+label('main-input', 'main-input__label', 'Имя', 'main-input__input', 'text')
		+label('main-input', 'main-input__label', 'Почта', 'main-input__input', 'text')

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
