extends layouts/default

block variables
	- const title = "And Ruban"
	-
		let sec = 1;
block content
	include ../blocks/modules/header/header
	include ../blocks/modules/section-create/section-create
	include ../blocks/modules/section-producers/section-producers
	include ../blocks/modules/section-make/section-make
	include ../blocks/modules/section-video/section-video

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
