extends layouts/default
include ../blocks/components/label/label

block variables
	- const title = "And Ruban"
	-
		let sec = 1;
block content
	include ../blocks/modules/header/header
	include ../blocks/modules/section-create/section-create
	include ../blocks/modules/section-producers/section-producers
	include ../blocks/modules/section-make/section-make
	include ../blocks/modules/section-video/section-video
	include ../blocks/modules/section-progress/section-progress
	include ../blocks/modules/section-and-ruban/section-and-ruban
	include ../blocks/modules/section-feedback/section-feedback


block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
	style.
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(1) {
		transition-delay: .2s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(2) {
		transition-delay: .4s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(3) {
		transition-delay: .6s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(4) {
		transition-delay: .8s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(5) {
		transition-delay: 1s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(6) {
		transition-delay: 1.2s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}
		.js-Dropdown-list.is-open .js-Dropdown-list-item:nth-child(7) {
		transition-delay: 1.4s;
		transition-duration: .4s;
		transition-timing-function: linear;
		transition-property: opacity;
		opacity: 1;
		}