.card {
    // @include col();
    position: relative;
    // width: col(5.5);

    &_top {
        &_50 {
            margin-top: calc(83.33vh / 2 * -1);

            .card__inner {
                padding-top: calc(83.33vh / 2);
            }
        }
    }
    &_bottom {
        &_30 {
            margin-bottom: calc(83.33vh / 3.6 * -1);

            .card__inner {
                padding-bottom: calc(83.33vh / 3.6);
            }
        }
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 83.33vh;
        background: {
            color: $light;
            position: center;
            size: cover;
        };
        .card_left & {
            margin-left: -14.89%;
        }
        .card_right & {
            margin-right: -14.89%;
        }
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: rem(2);
            display: flex;


            .card_left & {
                margin-left: rem(-60);
                left: 0;
            }
            .card_right & {
                margin-right: rem(-60);
                right: 0;
            }
            .card_top_50 & {
                top: 14.44%;
                background-image: linear-gradient(90deg, $light 14.44%, $dark 100%);
            }
            .card_bottom_30 & {
                bottom: -27.78%;
                background-image: linear-gradient(90deg, $light 14.44%, $dark 100%);
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $light, $alpha: .4);
        }
    }
    &__title {
        position: absolute;
        right: calc(100% + #{rem(12)});
        bottom: 0;
        display: flex;
        justify-content: center;
        writing-mode: vertical-rl;
        transform: scale(-1, -1);
        text-transform: uppercase;

        .card_right & {
            left: calc(100% + #{rem(12)});
            right: auto;
        }
    }
    &__wrapper {
        .card_left & {
            margin-right: calc(14.89% + #{rem(30)});
        }
        .card_right & {
            margin-right: calc(14.89% - #{rem(10)});
            margin-left: calc(14.89% + #{rem(20)});
        }
    }
    &__mini-slider {
        margin-top: rem(55);
    }
}
