$cardHeight: 900;
$cardHeight_xl: 500;
$cardHeight_lg: 400;
$cardHeight_md: 230;
.card {
    // @include col();
    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        position: relative;
        min-height: rem($cardHeight);

        @media (max-height: $vertical_xl), (max-width: $break_xl) {
            min-height: rem($cardHeight_xl);
        }
        @media (max-height: $vertical_xl), (max-width: $break_xl) {
            min-height: rem($cardHeight_xl);
        }
        @include md(min-height, auto);
        &:before {
            @include xl(content, none);
            content: "";
            display: flex;
            position: absolute;
            width: rem(2);
            height: 100%;


            .card_left & {
                left: 0;
                margin-left: rem(-60);
            }
            .card_right & {
                right: 0;
                margin-right: rem(-60);
            }
            .card_top_50 & {
                top: 14.44%;
                background-image: linear-gradient(90deg, $light 14.44%, $dark 100%);
            }
            .card_bottom_30 & {
                bottom: -27.78%;
                background-image: linear-gradient(90deg, $light 14.44%, $dark 100%);
            }
            .card_top_17 & {
                top: 12.78%;
                background-image: linear-gradient(90deg, $light 12.78%, $dark 100%);
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: $light, $alpha: .4);
        }
        .card_left & {
            @include xl(margin-left, 0);
            margin-left: -14.89%;
        }
        .card_right & {
            @include xl(margin-right, 0);
            margin-right: -14.89%;
        }
        background: {
            position: center;
            color: $light;
            size: cover;
        };
    }
    &__title {
        @include xl(display, none);
        display: flex;
        justify-content: flex-start;
        height: 100%;
        position: absolute;
        right: calc(100% + #{rem(12)});
        bottom: 0;
        transform: scale(-1, -1);
        writing-mode: vertical-rl;
        text-transform: uppercase;

        .card_right & {
            right: auto;
            left: calc(100% + #{rem(12)});
        }
        &:after {
            content: 'andruban — мебель  иных реальностей';
            color: $light;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &__wrapper {
        position: relative;
        z-index: 1;
        transition: {
            property: color;
            duration: $duration;
        };
        .card_left & {
            @include xl(margin-right, #{rem(15)});
            margin-right: calc(14.89% + #{rem(30)});

            &.card-slider {
                @include md(margin-left, rem(15));
                margin-left: calc(14.89% - #{rem(10)});
            }
        }
        .card_right & {
            @include xl(margin-left, #{rem(15)});
            @include xl(margin-top, #{rem(15)});
            @include xl(margin-right, #{rem(15)});
            margin-right: calc(14.89% - #{rem(10)});
            margin-left: calc(14.89% + #{rem(20)});
        }
    }
    &__mini-slider {
        margin-top: rem(55);
    }
    // width: col(5.5);

    &_top {
        &_50 {
            margin-top: rem(-$cardHeight / 2);
            @media (max-height: $vertical_xl), (max-width: $break_xl) {
                position: static;
                margin-top: rem(-$cardHeight_xl / 2);
                padding-bottom: rem(10);
            }
            @media (max-height: $vertical_lg), (max-width: $break_lg) {
                margin-top: 0;
            }
            @include md(margin-top, 0);
            .card__title {
                &:after {
                    height: 0;
                }
            }
            .card__inner {
                padding-top: calc(83.33vh / 2);
                padding-top: calc(var(--vh, 1vh) * 83.33 / 2);

                @media (max-height: $vertical_xl), (max-width: $break_xl) {
                    margin-top: rem(-$cardHeight_xl / 2);
                    position: absolute;
                    left: rem(-100);
                    top: 0;
                    z-index: -5;
                    width: rem(300);
                }
                @include md(height, rem(200));
                @include md(padding-top, 0);
                @include md(margin-top, 0);
                @include md(top, 0);
                @include md(transform, translate(-40%, calc(-50% - #{rem(50)})));
            }
        }
        &_17 {
            margin-top: calc(83.33vh / 5.7 * -1);
            margin-top: calc(var(--vh, 1vh) * 83.33 / 5.7 * -1);
            @media (max-height: $vertical_xl), (max-width: $break_xl) {
                margin-top: rem(-150);
            }
            @include md(margin-top, 0);
            .card__title {
                &:after {
                    height: 0;
                }
            }
            .card__inner {
                @media (max-height: $vertical_xl), (max-width: $break_xl) {
                    height: rem(600);
                    padding-top: rem(150);
                    display: flex;
                }
                @include md(padding-top, rem(30));
                @include md(padding-bottom, rem(30));
                @include md(height, auto);
                padding-top: calc(83.33vh / 5.7);
                padding-top: calc(var(--vh, 1vh) * 83.33 / 5.7);
            }
        }
    }
    &_bottom {
        &_30 {
            margin-bottom: calc(83.33vh / 3.6 * -1);
            margin-bottom: calc(var(--vh, 1vh) * 83.33 / 3.6 * -1);
            @media (max-height: $vertical_xl), (max-width: $break_xl) {
                margin-bottom: 0;
                top: rem(150);
            }
            @include md(margin-top, 0);
            @include md(top, 0);

            .card__title {
                &:after {
                    height: calc(83.33vh / 3.6);
                }
            }
            .card__inner {
                @media (max-height: $vertical_xl), (max-width: $break_xl) {
                    height: rem(600);
                    padding-bottom: 0;
                    display: flex;
                    align-items: center;
                }
                padding-bottom: calc(83.33vh / 3.6);
                padding-bottom: calc(var(--vh, 1vh) * 83.33 / 3.6);
                @media (max-height: $vertical_xl), (max-width: $break_xl) {
                    padding-bottom: rem(150);
                }
                @include md(height, auto);
                @include md(padding-top, rem(40));
                @include md(padding-bottom, rem(40));
                @include md(background-image, none !important);
                @include md(background-color, transparent);
                &:after {
                    @include md(content, none);
                }
            }
        }
    }
}
