section.section.section_dark.swiper-slide(class=`section_producers`)
    .section__wrapper
        .section__row
            h2.h2.section__title Наши поставщики
            .section__description
                h5.h5.section__description-title Мы сотрудничаем с лучшими мировыми поставщиками
                p.p.p_font_light Наполняем нашу мебель самой лучшей фурнитурой для самых взыскательных заказчиков и удобного использования  каждым членом семьи.
        .section__ticker.ticker.swiper-container
            .swiper-wrapper
                h1.h1.ticker__inner.swiper-slide andruban мебель иных реальностей
                h1.h1.ticker__inner.swiper-slide andruban мебель иных реальностей
                h1.h1.ticker__inner.swiper-slide andruban мебель иных реальностей
        .section__row
            .section__logos
                svg(viewBox="0 0 162 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-omoikiri')
                svg(viewBox="0 0 113 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-blum')
                svg(viewBox="0 0 188 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-hafele')
                svg(viewBox="0 0 141 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-vibo')
            .section__logos
                svg(viewBox="0 0 214 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-kessebohmer')
                svg(viewBox="0 0 154 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-camar')
                svg(viewBox="0 0 154 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-vauth')
                svg(viewBox="0 0 237 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-sayerlack')
            .section__logos
                svg(viewBox="0 0 166 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-blanco')
                svg(viewBox="0 0 130 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-busetto')
                svg(viewBox="0 0 143 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-alinic')
                svg(viewBox="0 0 89 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-slotex')
                svg(viewBox="0 0 136 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-smeg')
            .section__logos
                svg(viewBox="0 0 122 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-miele')
                svg(viewBox="0 0 94 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-neff')
                svg(viewBox="0 0 93 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-franke')
                svg(viewBox="0 0 38 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-alpi')
                svg(viewBox="0 0 85 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-mobilclan')
                svg(viewBox="0 0 57 30")
                    use(xlink:href='./img/sprites/sprite.svg#logo-woodstock')
