section.section.section_dark.swiper-slide(class=`section_progress`)
    .section__bg-wrapper.section__bg-wrapper_center
        .section__bg-inner.swiper-wrapper
            picture.section__bg.section__bg_grayscale.section__bg_left.section__bg_top.dark-mask
                source(srcset=`./img/section-and-ruban.webp`)
                img(src=`./img/section-and-ruban.jpg` alt="")
