section.section.section_dark.swiper-slide(id="and-ruban" class=`section_and-ruban` data-theme="dark")
    .section__wrapper
        .section__row.section__row_fullheight
            .section__col.section__col_right.section__col_flex
                .title.section__title
                    h2.h2 Андрей <br>Рубан
                .section__history
                    ul.tabs.swiper-container(data-tabs)
                        .swiper-wrapper
                            each index, val in ['История', 'Миссия', 'Работа']
                                if val === 0
                                    li.swiper-slide.tabs__item.tabs__item_active
                                        span(data-tabs-item)= index
                                else
                                    li.swiper-slide.tabs__item
                                        span(data-tabs-item)= index
                            span.tabs__underline(data-tabs-underline)
                    .swiper-container.tab-content
                        .swiper-wrapper
                            .swiper-slide
                                p.p.p_font_light «Начало было положено в 2010 году. Руководя производством крупной международной компании, возникло осознание того, что все твои усилия направлены только на улучшения той системы в которой мы функционируем. Желание творить и создавать что то своими руками, привело меня к созданию небольшого мебельного бизнеса. С самого начала ставка была сделана на производство индивидуальной мебели как более интересного, но в тоже время и более сложного направления.
                                p.p.p_font_light С самого начала и по сегодняшний день принципы и ценности, которыми мы руководствуемся делают нашу команду сильнее. Дружелюбие и открытость в общении с покупателями позволяют выстраивать долгосрочные личные отношения с каждым из наших заказчиков. Год за годом мы расширяем наши возможности, предлагая всё самое лучшее…»
                            .swiper-slide
                                p.p.p_font_light «Мы улучшаем этот мир – преображая пространства и среду обитания каждого с кем мы взаимодействуем…»
                            .swiper-slide
                                p.p.p_font_light «Мы улучшаем этот мир – преображая пространства и среду обитания каждого с кем мы взаимодействуем…»
                                p.p.p_font_light «Мы улучшаем этот мир – преображая пространства и среду обитания каждого с кем мы взаимодействуем…»
                    p.p.p_font_light Присоединяйтесь в соц. сетях
                    .links
                        a.links__item.link.link_bold(href="https://www.instagram.com/and.ruban/" target="_blank") instagram
                        a.links__item.link.link_bold(href="https://www.facebook.com/buro.andruban" target="_blank") facebook
                        a.links__item.link.link_bold(href="https://www.youtube.com/channel/UCRJC1kJu7MvW3HAy8Q7_3vw" target="_blank") youtube
                        a.links__item.link.link_bold(href="https://www.houzz.ru/pro/andruban/and-ruban " target="_blank") houzz

            .section__col.section__col_left
                .card.card_right.card_bottom_30
                    .card__inner.swiper-lazy(data-background="./img/card-img-and-ruban.jpg")
                        .card__title andruban — мебель  иных реальностей
                        .card__wrapper
                            button.btn.btn_transparent_primary.btn_play.btn_play_dark
                                +icon('play', 'btn__icon')
                                span.btn__title.h5.h5_light Мой <br>ролик-презентация
    .section__bg-wrapper.section__bg-wrapper_center
        .section__bg-inner.swiper-wrapper
            picture.section__bg.section__bg_grayscale.section__bg_left.section__bg_top.dark-mask
                source.swiper-lazy(data-srcset=`./img/section-and-ruban.webp` type="image/webp")
                img.swiper-lazy(data-src=`./img/section-and-ruban.jpg` alt="")
