.tabs {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: {
        right: rem(-20);
        left: rem(-20);
    }


    @media (max-width: $break_md) {
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 100%;
        padding: {
            top: rem(15);
            right: rem(15);
            bottom: rem(15);
            left: rem(15);
        }
        margin: 0 auto;
        color: $light;
        background-color: $secondary;
        transform: translate(0, rem(32));
        opacity: 0;
        transition: {
            property: transform, opacity;
            duration: .3s;
            timing-function: linear;
        }
        pointer-events: none;
    }
    &__title {
        display: none;

        @media (max-width: $break_md) {
            br {
                display: none;
            }
            display: block;
            padding: {
                top: rem(20);
                right: rem(15);
                bottom: rem(20);
                left: rem(15);
            }
            margin: {
                top: 0;
                bottom: 0;
            }
            background-color: $secondary;
            color: $light;
            text-transform: uppercase;

            .tabs__wrapper_light & {
                background-color: $light;
                color: $secondary;
            }
        }
    }

    &_col {
        .tabs__item {
            width: calc(50% - #{rem(40)});

            &.swiper-slide {
                @include md(width, 100% !important);
                position: static;
                width: calc(50% - #{rem(40)}) !important;
                height: auto;
                box-sizing: border-box;
            }
        }
    }

    &_numbers {
        counter-reset: tabNumber;

        .tabs__item {
            @include md(order, 0 !important);
            @include md(padding-left, 0);
            @include md(min-height, 0);
            @include md(margin-bottom, rem(14));
            padding-left: rem(50);
            min-height: rem(40);
            margin: {
                bottom: rem(20);
            }

            &:last-of-type { @include md(margin-bottom, 0); }
            &:nth-child(1) { order: 1; }
            &:nth-child(2) { order: 3; }
            &:nth-child(3) { order: 5; }
            &:nth-child(4) { order: 2; }
            &:nth-child(5) { order: 4; }
            &:nth-child(6) { order: 6; }


            & span {
                position: relative;

                &:before {
                    @include md(content, none);
                    counter-increment: tabNumber;
                    content: "0"counter(tabNumber);
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: rem(24);
                    line-height: rem(23);
                    font-weight: 700;
                    transform: translateX(#{rem(-50)});
                }
            }

            &_active {
                & span:before {
                    color: $primary;
                }
            }
        }
    }

    &__item {
        right: rem(20);
        margin: {
            bottom: rem(14);
            left: rem(20);
        }
        text-transform: uppercase;
        font-weight: 300;
        cursor: pointer;
        transition: {
            property: color;
            duration: $duration;
        };

        span {
            padding: {
                bottom: rem(3);
            }
        }
        body #fullpage & {
            @media (max-width: $break_md) {
                width: 100% !important;
            }
        }
        &:hover {
            @include md(text-decoration, underline);
        }
        @media (max-width: $break_md) {
            margin: {
                left: 0;
                right: 0;
            }
        }
    }

    &__underline {
        position: absolute;
        top: 0;
        left: 0;
        height: rem(4);
        background-color: $primary;
        transition: {
            property: width, transform;
            duration: $duration;
        }

        @media (max-width: $break_md) {
            display: none;
        }
    }

    .swiper-wrapper {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        transform: none !important;
    }

    .swiper-slide {
        position: static;
        width: auto !important;
        height: auto;
    }

    &__wrapper {
        z-index: 100;

        @media (max-width: $break_md) {
            position: relative;
            width: 100%;
            margin: {
                bottom: rem(40)
            }

            .hamburger {
                position: absolute;
                right: rem(15);
                top: 50%;
                left: auto;
                transform: translateY(-50%);
                span {
                    background-color: $light;

                    .tabs__wrapper_light & {
                        background-color: $secondary;
                    }
                }
            }

            &_active {
                .tabs {
                    transform: translate(0, 0);
                    opacity: 1;
                    transition: {
                        property: transform, opacity;
                        duration: .3s;
                        timing-function: linear;
                    }
                    pointer-events: inherit;
                }
            }
            &_light {
                .hamburger {
                    span, span:before {
                        background-color: $secondary;
                    }
                }
                .tabs {
                    color: $secondary;
                    background-color: $light;
                }
            }
        }
    }
}
