.tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: {
        left: rem(-20);
        right: rem(-20);
    }

    &__item {
        margin: {
            left: rem(20);
            right: rem(20);
            bottom: rem(14)
        }
        padding: {
            top: rem(3);
            bottom: rem(3);
        }
        text-transform: uppercase;
        font-weight: 300;
        cursor: pointer;
    }
    &__underline {
        position: absolute;
        top: 0;
        left: 0;
        height: rem(4);
        background-color: $primary;
        transition: {
            property: width, transform;
            duration: $duration;
        }
    }
}
