.tabs {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    margin: {
        right: rem(-20);
        left: rem(-20);
    }

    @media (max-width: $break_xs) {
        color: $light;
        background-color: $secondary;

        padding: {
            top: rem(15);
            right: rem(50);
            bottom: rem(15);
            left: rem(15);
        }
    }

    &_col {
        .tabs__item {
            width: calc(50% - #{rem(40)});

            &.swiper-slide {
                position: static;
                width: calc(50% - #{rem(40)}) !important;
                height: auto;
                box-sizing: border-box;
            }
        }
    }

    &_numbers {
        counter-reset: tabNumber;

        .tabs__item {
            padding-left: rem(50);
            min-height: rem(40);

            margin: {
                bottom: rem(20);
            }

            &:nth-child(1) {
                order: 1;
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                order: 5;
            }

            &:nth-child(4) {
                order: 2;
            }

            &:nth-child(5) {
                order: 4;
            }

            &:nth-child(6) {
                order: 6;
            }


            & span {
                position: relative;

                &:before {
                    counter-increment: tabNumber;
                    content: "0"counter(tabNumber);
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: rem(24);
                    line-height: rem(23);
                    font-weight: 700;
                    transform: translateX(#{rem(-50)});
                }
            }

            &_active {
                & span:before {
                    color: $primary;
                }
            }
        }
    }

    &__item {
        @media (max-width: $break_xs) {
            display: none;
        }

        &_active {
            @media (max-width: $break_xs) {
                display: block;
                width: 100%;

                &:nth-child(2) {
                    margin-top: rem(21);
                }

                &:not(:first-of-type):not(:last-of-type) {
                    margin-bottom: rem(15);
                }
            }

        }

        margin: {
            right: rem(20);
            bottom: rem(14);
            left: rem(20);
        }

        @media (max-width: $break_xs) {
            margin: 0;
        }

        text-transform: uppercase;
        font-weight: 300;
        cursor: pointer;

        transition: {
            property: color;
            duration: $duration;
        }

        ;

        span {
            padding: {
                bottom: rem(3);
            }
        }
    }

    &__underline {
        position: absolute;
        top: 0;
        left: 0;
        height: rem(4);
        background-color: $primary;

        transition: {
            property: width, transform;
            duration: $duration;
        }

        @media (max-width: $break_xs) {
            display: none;
        }
    }

    .swiper-wrapper {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        transform: none !important;
    }

    .swiper-slide {
        position: static;
        width: auto !important;
        height: auto;
    }

    .hamburger {
        position: absolute;
        right: rem(15);
        top: rem(8);
        left: auto;

        span {
            background-color: $light;
        }
    }
}