mixin label(boxClass, labelClass, data, inputClass, type)
    .label-box(class= boxClass)
        label.label-box__label(class= labelClass, data-title= data)
            input.label-box__input(class= inputClass, type= type)
