.card-slider {
    width: 100%;
    &__icon {
        max-width: rem(70);
        max-height: rem(60);
        margin-bottom: rem(30);
    }
    &__title {
        margin-bottom: rem(25);
        font-weight: 300;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__description {
    }
    &__swiper {
        margin-bottom: rem(30);
    }
    &__control {
        @include md(cursor, default);
        @include md(outline, none !important);
        position: absolute;
        z-index: 1;
        top: 0;
        right: rem(6);
        padding: {
            top: rem(6);
            bottom: rem(6);
        }
        cursor: pointer;
    }
    &__arrow {
        @include md(cursor, default);
        @include md(outline, none !important);
    }
}
