mixin footer(theme, anchor)
    footer.footer(class=`footer_theme_${theme}`)
        .footer__wrapper
            if (anchor === true)
                button.btn.btn_rect.btn_transparent_light.btn_uppercase.footer__to-back(data-anchor="header")
                    +icon('arrow-up', 'btn__icon')
            .footer__inner
                .footer__logo
                    +logo()
                .footer__copyright
                    p.p.p_font_light.footer__p  © 2020 Andrey Ruban
                    p.p.p_font_light.footer__p  Мебельиных реальностей.
                .footer__developed
                    p.p.p_font_light.footer__p Разработано
                        br
                        |   компанией
                    a(href="https://proseogroup.ru/?utm_source=direct&utm_medium=footer&utm_campaign=andruban" target="_blank")
                        svg.footer__proseo.proseo.proseo_theme_dark
                            use(xlink:href="img/sprites/sprite.svg#proseo-group")
