mixin footer()
    footer.footer
        .footer__wrapper
            .footer__inner
                .footer__logo
                    +logo()
                .footer__copyright
                    p.p.p_font_light.footer__p  © 2020 Andrey Ruban
                    p.p.p_font_light.footer__p  Мебельиных реальностей.
                .footer__developed
                    p.p.p_font_light.footer__p Разработано
                        br
                        |   компанией
                    svg.footer__proseo
                        use(xlink:href="img/sprites/sprite.svg#proseo-group")