.footer {
    position: relative;
    z-index: 1;
    margin-top: auto;
    padding: {
        top: rem(36);
        bottom: rem(36);
    };

    &_theme {
        &_light {
            background-color: $light;
            color: $secondary;
            svg {
                fill: $secondary;
            }
            .modal__logo-span,
            .modal__p {
                color: $secondary;
            }
        }
    }

    &__wrapper {
        @include container();
    }

    &__inner {
        @include row-flex();
    }

    &__logo {
        @include col();
        @include size-xl(3);
    }

    &__copyright {
        @include col();
        @include size-xl(3);
    }

    &__developed {
        @include col();
        @include size-xl(6);
        display: flex;
        justify-content: flex-end;
    }

    &__proseo {
        width: rem(101);
        height: rem(43);
        margin-left: rem(18);
    }

    &__p {
        margin-bottom: 0;
        font-size: rem(15);
    }
}
