.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    overflow: hidden;
    .swiper-slide {
        height: auto;
    }

    &__wrapper {
        @include container();
    }

    &__inner {
        @include row-flex();
    }

    &__title {
        font-weight: 700;
    }

    &__logo {
        &-span {
            color: $light;
        }
    }

    &__p {
        color: $light;
        font-size: 0.85rem;
        letter-spacing: 0.5em;
    }

    &__content {
        display: flex;
        width: 100%;
    }

    padding: {
        top: rem(30);
    };
}

@import "contact/contact";
@import "navigation/navigation";
@import "thanks/thanks";
@import "request/request";
@import "payment/payment";
@import "confidence/confidence";

.modal_active {
    display: block;
}