include ../logo/logo
include navigation/navigation
include contact/contact
include thanks/thanks
include request/request
include payment/payment
include confidence/confidence
mixin modal()
    section.modal.swiper-container
        .swiper-wrapper
            .swiper-slide
                .modal__wrapper
                    .modal__inner
                        +logo('modal', 'modal')
                    .modal__inner
                        .modal__content
                            +navigation
                            +thanks
                            +request(false)
                            +payment
                            +confidence
                            +contact
        .swiper-scrollbar
