::selection {
    color: $light;
    background-color: $primary;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    fill: inherit;
    text-decoration: none;
    transition: {
        property: color;
        duration: $duration;
    }

    &:hover {
        color: $primary;
    }
}

button {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: normal;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
li {
    padding: 0;
    margin: 0;
}


.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}
html {
    box-sizing: border-box;
}
body, html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    background-color: $secondary;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.h1 {
    font-size: rem($h1);
    font-weight: 700;
    &_lite {
        color: $light;
    }
}
.h2 {
    margin-bottom: rem(7);
    font-size: rem($h2);
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 100%;
}
.h3 {
    font-size: rem($h3);
}
.h4 {
    font-size: rem($h4);
    font-weight: 400;
    letter-spacing: 0.05em;
}
.h5 {
    font-size: rem($h5);
    font-weight: 400;

    &_light {
        font-weight: 300;
    }
}
.h6 {
    font-size: rem($h6);
    font-weight: 400;
}
.p {
    margin: {
        top: 0;
        bottom: rem(15);
    }
    &:last-child {
        margin-bottom: 0;
    }
    &_font {
        &_light {
            font-weight: 300;
            line-height: 156%;
        }
        &_primary {
            color: $primary;
        }
    }
}
.small {
    font-size: rem($small);
}

.swiper-wrapper {
    transition-timing-function: ease;
}
#fullpage {
    height: 100vh;
}


.link {
    text-decoration-line: underline;
    text-transform: lowercase;
    transition: {
        property: color;
        duration: $duration;
    };

    &:hover {
        color: $primary;
    }

    &_bold {
        text-decoration: none;
        color: $primary;
        font-weight: 700;
        border-bottom: {
            width: rem(2);
            color: transparent;
            style: solid;
        };
        transition: {
            property: border-color;
            duration: $duration;
        }

        &:hover {
            border-bottom: {
                color: $primary;
            };
        }
    }
}

.icon-social {
    max-width: rem(20);
    max-height: rem(20);
    fill: inherit;
    transition: {
        property: fill;
        duration: $duration;
    }
    &_contact {
        fill: $light;
        max-width: rem(26);
        max-height: rem(20);
    }

    &:hover {
        fill: $primary;
    }
}
.icon-garant {
    min-width: rem(347);
    max-width: rem(347);
    min-height: rem(347);
    max-height: rem(347);
    margin: rem(-30);
}






.title {
    position: relative;
    z-index: 1;
    width: 100%;

    &_card {
        @include shift-left(-4);
    }
}

// .mini-slider {

// }

.arrow {
    &-h {
        max-width: rem(30);
        max-height: rem(12);
        stroke: $secondary;

        transition: {
            property: stroke;
            duration: $duration;
        };
    }
    &-v {
        max-width: rem(12);
        max-height: rem(30);

        transition: {
            property: stroke;
            duration: $duration;
        };
    }
}


.light-mask {
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($color: $light, $alpha: .75);
        transition: {
            property: background-color;
            duration: $duration;
        };
        pointer-events: none;
    }
}
.dark-mask {
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($color: $secondary, $alpha: .75);
        transition: {
            property: background-color;
            duration: $duration;
        };
        pointer-events: none;
    }
}


.list {
    &__item {
        @include col();
        @include size(5);
        margin-bottom: rem(12);
    }
    &__num {
        margin-right: rem(10);
        font-size: rem(42);
        font-weight: 700;
        color: $primary;
    }
}


.houzz {
    transition: {
        property: filter;
        duration: $duration;
    }
    filter: grayscale(100%) brightness(0);
    &:hover {
        filter: grayscale(0) brightness(100%);
    }
}

.slider-background {
    width: 100%;
    height: 100%;
}
.watch-original {
    .section_create {
        .top-slider__control {
            color: $light;
            svg {
                stroke: $light;
            }
        }
        .section__bg {
            overflow: visible;
            filter: grayscale(0);

            .swiper-slide {
                filter: grayscale(100%);
                transition: {
                    property: filter, transform;
                    duration: 1000ms;
                }

                &:after {
                    transition: {
                        property: background-color;
                        duration: 1000ms;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($secondary, .9);
                }
                &-active {
                    filter: grayscale(0);

                    &:after {
                        background-color: transparent;
                    }
                }
            }
        }
        .section__wrapper {
            position: static;
        }
        .section__bg-wrapper {
            z-index: 999;
            pointer-events: all;
        }
        .section__bg {
            &:after {
                background: transparent;
            }
            &:before {
                opacity: 1;
            }
        }
        .top-slider {
            .swiper-slide {
                &:after {
                    background-color: transparent;
                }
            }
        }
    }
    .top-slider__slider {
        z-index: 1000;
    }
    .fullpage__control {
        visibility: hidden;
        opacity: 0;
    }
    .slider-background {
        overflow: visible;
    }
}
